<nav class="nav" style="background-color: #e3f2fd;">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand color-me" href="/ ">Yalla Cinema</a>
        </div>

        
    </div>
</nav>